## python dictionary

- dictionary allows to store key and value pairs
- dict() built-in function
- empty directory can be created via {}
- similar to list but we can use keys instead of indices to access values

In [ ]:
# create a simple dict
cookies = {"red": 34, "green": 30, "brown": 31, "yellow": 29}
cookies

In [ ]:
# create formatted dict
captains = {
    'india': 'virat',
    'pakistan': 'sarfaraz',
    'sri lanka': 'dimuth',  # trailing comma is ok
}
captains

In [ ]:
# type of captains 
type(captains)

In [ ]:
# access value in a dict
captains['india']

In [ ]:
# access all keys
captains.keys()

In [ ]:
# access all values
captains.values()

### add new key, value pair

In [ ]:
# adding captain of england
captains['england'] = 'root'
captains

In [ ]:
# deleting value via a key
del captains['pakistan']
captains

### Iterate through dictionary

In [ ]:
# via for loop
for team in captains:
    print(team)

In [ ]:
# accees values 
for team in captains:
    print(team,"==>",captains[team])

In [ ]:
# access keys and values
for team, captain in captains.items():
    print(team,"==>",captain)

### in operator and clear

In [ ]:
# truthiness
'india' in captains

In [ ]:
# truthiness 
'australia' in captains

In [ ]:
# clear a dict
captains.clear()
captains

In [ ]:
# get method, super cool
captains.get('canada', 'team is not found')

### build dictionary on fly

In [ ]:
e = {}
e['id'] = 123
e['name'] = 'dhaval'
e['age'] = 35
e

## tuples

- another collection type tuple just like list
- tuple is immutable (values cannot be changed)
- we can use it to store sequence of values that usually don't change

In [ ]:
# store weekedays
WEEKDAYS = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [ ]:
# empty tuple
empty = ()

In [ ]:
# a point on a page (2D space)
point = (4, 10)
type(point)

In [ ]:
# a point in 3D space 
point = (4, 10, 20)
type(point)

In [ ]:
# access first element is similar to list
point[0]

In [ ]:
# access second element
point[1]

### remember, tuple is immutable

In [ ]:
# let's try to change a tuple
point[1] = 67

In [ ]:
# get a slice
animals = ('cat', 'dog', 'fish', 'cat')
animals[1:] # new tuple

In [ ]:
# count values
animals.count('cat')

In [ ]:
# look up index
animals.index('cat')

In [ ]:
# how to define a tuple with a single element
t1 = (3) # it is not a tuple
t2 = ((3)) # this is still just a value
t3 = ((3, )) # this is tuple

In [ ]:
# type of t1, t2, t3
type(t1), type(t2), type(t3)

In [ ]:
# this is not allowed :)
animals.append['mouse']

### sets

- python set type
- collection of unique elements
- multiple copies are not allowed unlike lists, tuples
- good part, you can perform set operations, like, union, intersection

In [ ]:
# defining a set
animals = {'cat', 'dog', 'mouse', 'cow', 'cat', 'dog', 'horse', 'cat'}
animals

In [ ]:
# sets are not ordered, that is it does not record element position or order of insertion
n1 = {8, 6, 7, 9, 5, 2, 3, 4, 1 ,2}
n1

In [ ]:
# sets do not support indexing, slicing, or other sequence-like behavior
n1[1]

In [ ]:
# slicing
n1[-3:]

In [ ]:
# using with for loop
for number in n1:
    print(number)

In [ ]:
# in operator
3 in n1

In [ ]:
# len function
len(n1)

In [ ]:
# let's have fun with set operations, remember venn diagrams
set_1 = {2, 4, 6, 8, 10}
other_1 = {6, 7, 8, 9, 10}

In [ ]:
# union
set_1 | other_1

In [ ]:
# intersection
set_1 & other_1

In [ ]:
# difference (n2 but not n1)
set_1 - other_1

In [ ]:
# symmetric difference
set_1 ^ other_1

In [ ]:
# create empty set - always use set() function
new_set = set()
new_set

In [ ]:
# create a set via function
new_set_1 = set((1, 4, 2, 5, 3, 4, 5 ,3, 4, 4, 4))
new_set_1

In [ ]:
# find type
type(new_set_1)

In [ ]:
# you can't do this
new_set_2 = {}  # this is dict :)
new_set_2